<h1>Operadores RxJs</h1>

<!-- <app-observables></app-observables> -->
<!-- <app-subject></app-subject> -->

<!-- <h3>Operadores de Criação</h3> -->

<!-- <app-from></app-from> -->
<!-- <app-of></app-of> -->
<!-- <app-from-event></app-from-event> -->
<!-- <app-interval></app-interval> -->
<!-- <app-timer></app-timer> -->
<!-- <app-throw-error></app-throw-error> -->
<!-- <app-ajax></app-ajax> -->

<!-- <h3>Operadores de Criação e Junção</h3> -->

<!-- <app-forkjoin></app-forkjoin> -->
<!-- <app-zip></app-zip> -->
<!-- <app-merge-concat></app-merge-concat> -->

<!-- <h3>Operadores de transformação</h3> -->

<!-- <app-map></app-map> -->
<!-- <app-map-to></app-map-to> -->
<!-- <app-switch-map></app-switch-map> -->
<!-- <app-pluck></app-pluck> -->
<!-- <app-to-array></app-to-array> -->

<!-- <h3>Operadores de filtragem</h3> -->

<!-- <app-filter></app-filter> -->
<!-- <app-take></app-take> -->
<!-- <app-take-until></app-take-until> -->
<!-- <app-take-while></app-take-while> -->
<!-- <app-skip></app-skip> -->
<!-- <app-debounce-time></app-debounce-time> -->

<h3>Operadores de junção</h3>
<!-- <app-start-with></app-start-with> -->
<!-- <app-switch-all></app-switch-all> -->
<!-- <app-combine-latest></app-combine-latest> -->
<app-with-latest-from></app-with-latest-from>
